/* reset start */
* {
	box-sizing: border-box;
}
body {
	font: 400 17px/1 "PT Serif", sans-serif;
	color: #000000;
	margin: 0;
    max-width: 1920px;
    max-height: 4604px;
}

a {
	color: inherit;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
    margin: 0;           /* Обнулює зовнішні відступи */
    padding: 0;          /* Обнулює внутрішні відступи */
    list-style: none;    /* Видаляє маркери списку (кружечки, квадратики тощо) */
    display: block;
}

li {
    margin: 0;           /* Обнулює зовнішні відступи для кожного елемента списку */
    padding: 0;          /* Обнулює внутрішні відступи для кожного елемента списку */
    display: block;
}

address {
    font-style: normal;
}
/* reset end */
/*default_value start*/
.d_flex {
    display: flex;
}

.align_items_center {
 	align-items: center;
}

.justify-content_space_between{
    justify-content: space-between;
}

.flex_direction_colum {
    flex-direction: column;
}
/*default_value end*/
/*page element start*/
.header {
    max-width: 1760px;
    max-height: 32px;
    margin-right: 81px;
    margin-left: 80px;
    margin-top: 34px;
}

.logo {
    
}

.nav_title {
    width: 368px;
    height: 19px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 1px;
}

.nav_item>span {
    font-weight: 400;
    font-size: 14px;
    color: #C9A96E;
}

.nav_item {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.previev {
    max-width: 1920px;
    height: 700px;
    margin-top: 34px;
    position: relative;
    
}

.preivev_text {

}

.preivev_text {
    margin-left: 19.53%;
}

.preivev_img {
    position: absolute;
}

.brand {
    width: 52px;
    height: 18px;
    font-family: "PT Sans";
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.previev_name {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0px;
}

.info_block {
    width: 283px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
}
/*page element end*/